@import 'base';

//your demo specific scss here
.red{
    background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.darkgoldenrod{
  background-color: darkgoldenrod;
}

.darkmagenta{
  background-color: darkmagenta;
}

.magenta{
  background-color: magenta;
}